@import "../../colors.scss";

.container {
  display: flex;
  width: 100vw;
  padding-top: 10vh;
  justify-content: center;
}

.login {
  max-width: 16em;

  > img {
    margin-bottom: 3em;
  }

  > a {
    padding: 0.6em 1em 0.6em 0.6em;
    font-size: 1.1em;
    width: 100%;
    background-color: #1db954;

    > svg {
      height: 1.7em;
      width: 1.7em;
    }
  }
}
